body {
    background: url('./Images/dd6e5cda-e7c8-44a1-871c-1e85f12eda01.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #3E363F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.login-container {
    background-color: #FFFCE8;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    height: 50px;
    margin-bottom: 10px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-social img {
    height: 20px;
    margin-right: 8px;
}

.btn-social:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.btn-primary {
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #fff;
    color: #007bff;
}